{% extends 'base.html.twig' %}

{% set action = isNew ? "Création" : "Modification" %}

{% block title %}
    {{ action }} d'une attraction - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ action }} d'une attraction</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.minimumHeight) }}
    {{ form_row(form.maximumHeight) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.duration) }}
    {{ form_row(form.openedAt) }}
    {{ form_row(form.park) }}
    {{ form_row(form.manufacturer) }}
    {{ form_row(form.tags) }}

    <button>Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}
