<header>
    <a href="{{ path('main_home') }}" class="header-logo">
        <img src="{{ asset('build/images/logo.png') }}" alt="Logo de CoasterWorld">
    </a>
    <nav>
        <ul>
            <li>
                <a href="{{ path('park_list') }}">Les parcs</a>
            </li>
            <li>
                <a href="{{ path('coaster_list') }}">Les attractions</a>
            </li>
        </ul>
        <div class="nav-separator"></div>
        <ul>
            {% if app.user %}
                <li>
                    {{ app.user.username }}
                </li>
                <li>
                    <a href="{{ path('security_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('security_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('security_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
